* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #101018;
    color: #00ff99;
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #00ff99;
    text-shadow: 0px 0px 10px #00ff99;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    position: relative;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #00ff99;
}

.start-stream-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff0066;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.start-stream-btn:hover {
    background-color: #00ff99;
    transform: scale(1.1);
}

.profile-info {
    margin-left: 30px;
    margin-top: 30px;
}

.profile-info h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #00ff99;
    text-shadow: 0px 0px 10px #00ff99;
}

.profile-info label {
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block;
    color: #fff;
    text-shadow: 0px 0px 5px #00ff99;
}

.profile-info span {
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: block;
    color: #fff;
    text-shadow: 0px 0px 5px #00ff99;
}

.profile-info button {
    background-color: #ff0066;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 5px 10px;
    margin-left: 50px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.profile-info button:hover {
    background-color: #00ff99;
    transform: scale(1.1);
}

.change-data-form {
    margin-top: 30px;
}

.change-data-form h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #00ff99;
    text-shadow: 0px 0px 10px #00ff99;
    text-transform: uppercase;
}

.change-data-form label {
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block;
    color: #fff;
    text-shadow: 0px 0px 5px #00ff99;
}

.change-data-form input[type="text"],
.change-data-form input[type="email"],
.change-data-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #1c1c24;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
}

.change-data-form button {
    background-color: #ff0066;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.change-data-form button:hover {
    background-color: #00ff99;
    transform: scale(1.1);
}

.hidden{
    display: none;
}

.custom-file-upload {
    border: 2px solid #00ff99;
    background-color: #ff0066;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.custom-file-upload:hover {
    background-color: #00ff99;
    transform: scale(1.1);
}

.custom-file-upload {
    margin-right: 5px;
}

.change-data-form input[type="file"] {
    display: none;
}

.change-data-form input[type="file"] + label::before {
    content: 'Завантажити зображення';
    display: inline-block;
    font-size: 1.2rem;
    background-color: #ff0066;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.change-data-form input[type="file"] + label:hover::before {
    background-color: #00ff99;
    transform: scale(1.1);
}





