<!DOCTYPE html>
<html>
<head>
    <title>Nerve</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="popup">
        <h1>Nerve</h1>
        <div class="options">
            <div class="option">
                <a href="/login" class="btn participant">
                    <p>I am a Participant</p>
                </a>
            </div>
            <div class="option">
                <a href="#" class="btn spectator">
                    <p>I am a Spectator</p>
                </a>
            </div>
        </div>
    </div>

    <div id="video-grid" class="hidden">
        <video></video>
        <video></video>
        <video></video>
        <video></video>
        <video></video>
    </div>

    <script src="/static/js/index.js"></script>
</body>
</html>
