<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Page Nerve</title>
  <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<div class="container">
  <form id="registration-form">
    <h1>Registration</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required>

    <button type="submit">Register</button>
  </form>
</div>
<script src="/static/js/register.js"></script>
</body>
</html>
